.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: $spacing;
    padding: $spacing;

    li {
        list-style: none;
    }

    img {
        object-fit: cover;
        @include wh(100%, 100%);
    }
}